<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<title>{% block title %}Epi{% endblock %}</title>

		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
		{% endblock %}
	</head>

	<body>
		<div class="wrapper">
			<div class="container">

				<div id="header">
					<div class="row-fluid">
						<div class="span12 banniere">
							<div class="span2">
								<a href="{{ path('core_static') }}"><img src="{{ asset('img/logo.jpg') }}"></a>
							</div>
							<div class="span8 offset1"><h1>Epicerie Innovante</h1></div>
							<a href="http://www.facebook.com/epi.epiceriesolidaireetudiante" target="_blank"><img class="logo_facebook" src="{{ asset('img/Facebook_icon.jpg') }}"></a>
						</div>
					</div>

					<div class="navbar">
						<div class="navbar-inner">
							<ul class="nav">
								{##}
								<li><a href="{{ path('core_static') }}">Accueil</a></li>
								<li><a href="{{ path('core_static',{'page': 'info'}) }}">C'est quoi EPI ?</a></li>
								<li><a href="{{ path('core_static',{'page': 'agir'}) }}">Agir</a></li>
								<li><a href="{{ path('boutique_index',{'page': 'boutique'}) }}">Boutique</a></li>
								<li><a href="{{ path('core_static',{'page': 'contact'}) }}">Contact</a></li>
							</ul>
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<a class="btn pull-right" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
								<ul class="nav pull-right">
									<li><a href="{{ path('fos_user_profile_show') }}">Profil : <b>{{ app.user.username }}</b></a></li>
								</ul>
									{% if is_granted('ROLE_ADMIN') %}
										<a class="btn btn-info pull-right" href="{{ path('epi_admin_homepage') }}">Administration</a>
									{% endif %}
							{% else %}
							{{ render(controller("FOSUserBundle:Security:loginNavbar")) }}

							{% endif %}
						</div>
					</div>
				</div>

				<div class="push-top"></div>
				<div class="row-fluid">
					<div id="content" class="span11">
						{% block body %}
						{% endblock %}
					</div>
				</div>
			</div>
			<div class="push-bot"></div>
		</div>


		<div class="container">
			<footer>
			<div class="row">
				<div class="span5 offset1 footer-text-left"> Partenaires : {% block partenaires %}{% endblock %}</div>
				<div class="span5 footer-text-right"> <a href="{{ path('core_static',{'page': 'contact'}) }}">Contact</a> : <a href="mailto:Epicerie.Innovante@gmail.com">epicerie.innovante@gmail.com</a></div>
			</div>
			</footer>
		</div>

		{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
		{% endblock %}

	</body>
</html>
