
{% extends "LoEpiBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<h1>Boutique</h1>

<form class="form-search">
  <input type="text" class="input-medium search-query" placeholder="...">
  <button type="submit" class="btn">Rechercher</button>
</form>

<div class="tabbable" > 
<ul class="nav nav-pills">
  <li class="active"><a href="#tous" data-toggle="tab">Tous les produits</a></li>

  {% for categorie in categories %}
  	<li><a href="#{{categorie.ref}}" data-toggle="tab">{{categorie.nom}}</a></li>
  {% endfor %}
</ul>
</div>


<div class="tab-content">
	<div class="tab-pane active" id="tous">
	{% for article in listeArticles[0] %}
	<div class="row">
		<img class="span2" src="{{article.image}}">
		<div class="span8">
			<h4>{{article.nom}} <span class="label">{{categories[article.categorie].nom}}</span></h4>
			<p>{{article.description}}</p>
			<span class="label label-info">{{article.prix}}€</span>
		</div>
		{% if article.quantite>0 %}
			<div class="span2 text-center"><br><br><br><br><br>
				<button class="btn btn-primary">Ajouter au panier</button></div>
		{% else %}
			<div class="span2">Non disponible</div>
		{% endif %}	
	</div>
	<div style="height:1px;background:#717171;border-bottom:1px solid #E8E8E8;margin-top: 6px;margin-bottom: 18px;"></div>
  	{% endfor %}
  </div>

{% for categorie in categories %}
  <div class="tab-pane" id="{{categorie.ref}}">
  	{% for article in listeArticles[categorie.ref] %}
	<div class="row">
		<img class="span2" src="{{article.image}}">
		<div class="span8">
			<h4>{{article.nom}} <span class="label">{{categories[article.categorie].nom}}</span></h4>
			<p>{{article.description}}</p>
			<span class="label label-info">{{article.prix}}€</span>
		</div>
		{% if article.quantite>0 %}
			<div class="span2 text-center"><br><br><br><br><br>
				<button class="btn btn-primary">Ajouter au panier</button></div>
		{% else %}
			<div class="span2">Non disponible</div>
		{% endif %}	
	</div>
	<div style="height:1px;background:#717171;border-bottom:1px solid #E8E8E8;margin-top: 6px;margin-bottom: 18px;"></div>
  	{% endfor %}
  </div>
 {% endfor %}

  </div>


{% endblock %}