{% extends "::layout.html.twig" %}
{% block title %}
{{ parent() }}
{% endblock %}

{% block menu %}
<div class="navbar">
<div class="navbar-inner">
<ul class="nav">
<li><a href="{{ path('epi_accueil') }}">Accueil</a></li>
<li><a href="{{ path('epi_static',{'page': 'aider'}) }}">Aider</a></li>
<li><a href="{{ path('epi_static',{'page': 'donner'}) }}">Donner</a></li>
<li><a href="{{ path('epi_static',{'page': 'benevolat'}) }}">Benevolat</a></li>
<li><a href="{{ path('epi_static',{'page': 'presentation'}) }}">presentation</a></li>
<li><a href="{{ path('epi_static',{'page': 'beneficier'}) }}">Benef</a></li>
<li><a href="{{ path('epi_static',{'page': 'partenaire'}) }}">Partenaires</a></li>
</ul>
</div>
</div>
{% endblock %}

{% block body %}
test
{# Ici defnire charte static (tous les block ...) ne pas oublier le parent dans les sous template #}
{% endblock %}
